@charset "utf-8";

/*Sans-Serif font for headlines*/
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf)
    format('truetype');
 }

/*Serif font for body text*/
@font-face {
    font-family: Tinos;
    src: url(../fonts/Tinos-Regular.ttf)
    format('truetype');
 }


/* Body and Spacing Styles */

div#formContainerLeft {
    display: block;
    float: left;
    width: 44%;
    margin-left: 5%;
    margin-right: 1%;
}

div#formContainerRight {
    display: block;
    float: left;
    width: 44%;
    margin-left: 1%;
    margin-right: 5%;
}

div#buttons {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Text Styles */

label.referralLabel {
    font-size: small;
}

/* Form Styles */

fieldset {
    width: 80%;
    background-color: #E0DDCF;
    font-family: Tinos, Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    margin: 2em auto .3em auto;
}

legend {
    background-color: #6f73f8;
    color: beige;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-left: 5%;
    padding: .3em;
    box-shadow: black 1px 1px 1px;
}

textarea {
    width: 100%;
    height: 12em;
    margin-top: .3em;
    resize: none;
    overflow-y: scroll;
}

input {
    margin-top: .4em;
    margin-bottom: .4em;
}

/* Button Styles */
button {
    text-align: center;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: .2em .4em;
}