@charset "utf-8";

/*Sans-Serif font for headlines*/
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-VariableFont_wght.ttf)
    format('truetype');
 }

/*Serif font for body text*/
@font-face {
    font-family: Tinos;
    src: url(../fonts/Tinos-Regular.ttf)
    format('truetype');
 }


/* Body Styles */

div#gameSection {
    width: 80%;
    margin: 2em auto 0 auto;
}


div#reviewContainer {
    width: 100%;
    text-align: center;
}

div#podcastSection {
    display: flex;
    width: 80%;
    text-align: center;
    margin: 1em auto 0 auto;
}

div#podcastText {
    display: table;
    width: 70%;
}

div#podcastContainer {
    display: block;
    float: left;
    width: 30%;
}

table {
    background-color: #302E30;
    margin: 1em auto 1em auto;
    width: 60%;
}

/* Text Styles */

div#gameSection p#introText {
    width: 95%;
    text-align: center;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 100;
    line-height: 110%;
    margin: 1em auto 1em auto;
}

div#gameSection p#bodyText {
    width: 85%;
    text-align: left;
    font-family: Tinos, Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    line-height: 105%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

div#podcastText p {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-family: Tinos, Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    line-height: 105%;
}

/* Image Styles */

img#gameReviews {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div#podcastContainer img {
    width: 80%;
}

/* Table Styles */

table, th, td {
    border: black 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #38b077;
    text-shadow: #302E30 1px 1px;
    padding: .4em .2em;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

td {
    font-family: Tinos, Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    padding: .3em .2em;
}

td.number {
    font-size: medium;
    text-align: right;
    font-weight: bold;
    text-shadow: #302E30 1px 1px;
}

td.link {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

caption {
    text-align: left;
}

col.number {
    width: 7%;
    background-color: #38b077;
}

col.link {
    width: 20%;
    background-color: #656365;
}

/* Link Styles */

div#podcastContainer img:hover {
    box-shadow:
    #E0DDCF 6px 6px 3px,
    #E0DDCF -6px -6px 3px,
    #E0DDCF 6px -6px 3px,
    #E0DDCF -6px 6px 3px;
}

td.link a {
    text-decoration: none;
}

td.link a:link {
    color: beige;
}

td.link a:visited {
    color: #e0cd21;
}

td.link a:hover {
    color: #6f73f8;
}

td.link a:active {
    color: #e0cd21;
}

/* Divider Styles */

hr {
    margin: .6em 0 1em 0;
    border-color: #E0DDCF;
    border-style: solid;
    border-width: 4px;
    border-radius: 2px;
}
